// @import "./variables";

@mixin desktop {
  @media (min-width: $screen-lg) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: $screen-lg) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $screen-md) {
    @content;
  }
}
@mixin phablet {
  @media (max-width: $screen-sm) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: $screen-xs) {
    @content;
  }
}
@mixin section-wraps {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
