.container {
  width: 800px;
  margin: 20px auto;
}

.accordionBlock {
  &__wrap {
  }

  &__title {
    background-color: #eee;
    color: #444;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      background-color: rgb(85, 85, 85);
      cursor: pointer;
      color: white;
    }
    &:hover > .accordionBlock__button {
      background-image: url("./img/arrow-white.png");
    }
  }

  &__text {
    font-size: 16px;
    display: block;
    visibility: visible;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    // transform-origin: left top;
    // &:hover {
    //   height: 0;
    // }
  }

  &__button {
    background-image: url("./img/arrow.png");
    background-size: contain;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    transform: rotate(180deg);
  }
}
.active {
  background-color: rgb(85, 85, 85);
  color: white;
}
